{% extends "base_page.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div id="dialogs-title">
        <span>Ваши диалоги</span>
        <div id="new-dialog-container">
            <a href="{% url 'create_dialog' %}">+</a>
        </div>
{#        <div id="new-dialog-container">#}
{#            <a href="#">+</a>#}
{#        </div>#}


    </div>
    <div id="dialogs-list">
        {% for i in Dialogs %}
            <div class="dialog">
                {% if user_login.login == i.reciever %}
                        <a href="/dialogs?did={{ i.did }}">Диалог с {{ i.sender }}</a>
{#                        <p class="last_mes">{{i.last_mes}}</p>#}
                {% else %}
                        <a href="/dialogs?did={{ i.did }}">Диалог с {{ i.reciever }}</a>
{#                        <p class="last_mes">{{i.last_mes}}</p>#}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div id="footer-form"></div>
    <script src="{% static 'js/cr_d.js' %}"></script>

{% endblock %}
