{% for i in Dialogs %}
    <div class="dialog">
        {% if user_login.login == i.reciever %}
            <div class="title-text-dialogs">
                <a href="/dialogs?did={{ i.did }}">Диалог с {{ i.sender }}</a>
{#                <p class="last_mes">{{i.last_mes}}</p>#}
            </div>
        {% else %}
            <div class="title-text-dialogs">
                <a href="/dialogs?did={{ i.did }}">Диалог с {{ i.reciever }}</a>
{#                <p class="last_mes">{{i.last_mes}}</p>#}
            </div>
        {% endif %}
    </div>
{% endfor %}