<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="../static/css/style_test.css">
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/bootstrap.esm.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
    <div class="reg_form">
        <div class="container h-100 d-flex">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 col-sm-10">
                    <h3 class="text-center">Регистрация</h3>
                    <form>
                        <div class="form-group">
                            <label for="login">Логин:</label>
                            <input type="text" class="form-control mb-3" placeholder="Введите логин" id="login">
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль:</label>
                            <input type="password" class="form-control mb-3" placeholder="Введите пароль" id="password">
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">Повторите пароль:</label>
                            <input type="password" class="form-control mb-4" placeholder="Введите пароль ещё раз" id="password_confirm">
                        </div>
                        <button type="submit" class="btn btn-primary text-center">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    <div>
</body>
</html>