<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/test1.js' %}"></script>
    <script src="{% static 'js/test3.js' %}"></script>
    <script src="{% static 'js/web3.js' %}"></script>
    <script src="{% static 'js/nacl.js' %}"></script>
    <script src="{% static 'js/nacl-util.js' %}"></script>
</head>
<body>
    <div class="test_form">
        <form>
            <input type="login" id="testfile">
            <input type="file" id="testfile">
        </form>
        <button id="file_send">Отправить</button>
    </div>
</body>
</html>