* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
a{
    text-decoration: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#name-container{
    color: #ddd;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu-container {
    display: grid;
    grid:
        'name-container dialogs-title' 71px
        'menu-list dialogs-list' 1fr
        'exit-link-container footer-form' 78px
        / 275px 1fr;
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    flex: 1 0 0;
    height: 95vh;
    background: #FFF;
    border-radius: 10px;
}

#name-container,
#menu-list,
#exit-link-container {
    background: #0048AA;
}
#name-container{
    color: #ddd;
    font-size: 2.5rem;
    display: block;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #002C88;
    border-radius: 10px 0 0 0;
}
/*#name-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    grid-area: name-container;*/
/*    padding: 0 20px;*/
/*    border-radius: 10px 0 0 0;*/
/*    box-shadow: 0 1px 3px -1px rgba(0,0,0, 0.75);*/
/*    z-index: 1;*/
/*}*/


#menu-list {
    grid-area: menu-list;
    overflow-y: scroll;
}

.menu {
    display: grid;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding: 20px 20px 20px 15px;
}

.menu.active,
.menu:hover {
    background: #002C88;
}

.menu:hover {
    cursor: pointer;
}

.create_dialog{
    display: flex;
    align-items: center;
    justify-content: center;
}
.create_dialog p{
    color: #0048AA;
    font-weight: bold;
    font-size: 1.5rem;
}
.create_dialog input{
    display:block;
    margin-top:10px;
    margin-buttom:10px;
}

.title-text {
    font-weight: bold;
    color: #eee;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.title-text a{
    text-decoration: none;
    font-weight: bold;
    color: #eee;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.conversation-message {
    grid-column: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#exit-link-container {
    display: flex;
    align-items: center;
    grid-area: exit-link-container;
    border-top: 1px solid rgba(0,0,0, 0.25);
    border-radius: 0 0 0 10px;
    padding: 0 15px;
}

#exit-link-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background: #eee;
    border-radius: 15%;
    color: #002C88;
    text-decoration: none;
    font-size: 2.6rem;
}

#dialogs-title,
#footer-form {
    background: #eee;
}

#dialogs-title {
    display: flex;
    margin-bottom: 1px;
    justify-content: space-between;
    align-items: center;
    grid-area: dialogs-title;
    color: #0048AA;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 0 20px;
}
#dialogs-title a{
    text-decoration: none;
    color: #0048AA;
}

#dialogs-list {
    background: white;
    grid-area: dialogs-list;
    overflow-y: scroll;
}
.dialog {
    display: grid;
    color: #002C88;
    font-size: 1.3rem;
    border-bottom: 1px solid lightgray;
    padding: 20px 20px 20px 15px;
}

.dialog.active,
.dialog:hover {
    background: lightgray;
}

.dialog:hover {
    cursor: pointer;
}
.title-text-dialogs {
    font-weight: bold;
    color: #eee;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.title-text-dialogs a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
#chat-title,
#chat-form {
    background: #eee;
}

#chat-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: dialogs-title;
    color: #0048AA;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 0 20px;
}

#chat-title > img,
#chat-form > img {
    cursor: pointer;
}

#chat-title > img {
    width: 36px;
    height: 36px;
}

#chat-message-list {
    grid-area: dialogs-list;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    overflow-y: scroll;
}

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}

.message-content {
    display: grid;
}

.you-message {
    justify-content: end;
}

.you-message .message-content{
    justify-items: end;
}


.message-time {
    font-size: 1.3rem;
    color: #777;
}

.message-text {
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.you-message .message-text {
    background: #0048AA;
    color: #eee;
    border: 1px solid #0048AA;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
    background: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}
.message-row{
    display: flex;
}
.you-message {
    justify-content: flex-end;
    max-width: 350px;
    margin-left: 100%;
}
.other-message {
    display: flex;
    justify-content: flex-start;
    max-width: 350px;
}

#chat-form {
    display: flex;
    align-items: center;
    grid-area: footer-form;
    border-top: 1px solid rgba(0,0,0, 0.25);
    border-radius: 0 0 10px 0;
    padding-left: 42px;
    padding-right: 22px;
}
#send_message{
    width: 125px;
    margin-right: 15px;
}
#area{
    width: 500px;
}
/*.message-time {*/
/*    font-size: 1.3rem;*/
/*    color: #777;*/
/*}*/
#chat-form input {
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
}
.keys{
    margin-top: 5%;
}
.keys p {
    color: #0048AA;
    font-weight: bold;
    font-size: 1.5rem;
}

#text {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
::-webkit-scrollbar {
    display: none;
}